In [20]:
import pandas as pd
import seaborn as sns

In [3]:
df=pd.read_csv('/workspace/FireForest/experiment/data/Fire_Forest_Clean.csv')
df.head()

,Unnamed: 0,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region,date
0,0,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,0,0,2012-06-05
1,1,33,54,13,0.0,88.2,9.9,30.5,6.4,10.9,7.2,1,0,2012-06-07
2,2,30,73,15,0.0,86.6,12.1,38.3,5.6,13.5,7.1,1,0,2012-06-08
3,3,28,79,12,0.0,73.2,9.5,46.3,1.3,12.6,0.9,0,0,2012-06-10
4,4,30,78,20,0.5,59.0,4.6,7.8,1.0,4.4,0.4,0,0,2012-06-14

In [5]:
df.drop(['date','Unnamed: 0'],axis=1,inplace=True)
df.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,0,0
1,33,54,13,0.0,88.2,9.9,30.5,6.4,10.9,7.2,1,0
2,30,73,15,0.0,86.6,12.1,38.3,5.6,13.5,7.1,1,0
3,28,79,12,0.0,73.2,9.5,46.3,1.3,12.6,0.9,0,0
4,30,78,20,0.5,59.0,4.6,7.8,1.0,4.4,0.4,0,0

# **Model Buliding**

In [7]:
x=df.drop('FWI',axis=1)
y=df['FWI']

In [8]:
## spliting data into dependent and independent variable
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.26,random_state=0)

In [9]:
x_train.shape

(179, 11)

In [10]:
y_train.shape

(179,)

In [11]:
## data Scaling
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline

In [12]:
preprocess=Pipeline(
    steps=[
        ('impute',KNNImputer(n_neighbors=3)),
        ('scaling',MinMaxScaler())
    ]
)

In [13]:
x_train_sc=preprocess.fit_transform(x_train)
x_test_sc=preprocess.transform(x_test)

# **Model Evaluation**

In [14]:
from sklearn.linear_model import LinearRegression,LassoCV,ElasticNet
from sklearn.ensemble import  RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [15]:
models={
    'Liner Regression':LinearRegression(),
    'LassoCV Regression': LassoCV(),
    'ElasticNet Regression': ElasticNet(),
    'RandomForest Regressor': RandomForestRegressor(),
    'DecisionTree Regressor' : DecisionTreeRegressor()
}

In [17]:
from sklearn.metrics import  mean_squared_error,mean_absolute_error,r2_score

In [24]:
import matplotlib.pyplot as plt

In [32]:
report={}
for i in range(len(models)):
    model_name = list(models.keys())[i]
    model = list(models.values())[i]

    model.fit(x_train_sc, y_train)

    y_pred = model.predict(x_test_sc)

    # Calculate accuracy (R-squared)
    accuracy = r2_score(y_test, y_pred) * 100
    report[model_name] = accuracy

    print(f'Model: {model_name}')
    print(f'Accuracy: {accuracy:.2f}%')

    # Calculate mean absolute error
    mae = mean_absolute_error(y_test, y_pred)
    print(f'MAE: {mae:.2f}')

    # Calculate mean squared error
    mse = mean_squared_error(y_test, y_pred)
    print(f'MSE: {mse:.2f}')

    print('===================================')

Model: Liner Regression
Accuracy: 96.86%
MAE: 0.56
MSE: 0.85
===================================
Model: LassoCV Regression
Accuracy: 96.96%
MAE: 0.54
MSE: 0.82
===================================
Model: ElasticNet Regression
Accuracy: 29.92%
MAE: 3.91
MSE: 18.91
===================================
Model: RandomForest Regressor
Accuracy: 98.61%
MAE: 0.39
MSE: 0.38
===================================
Model: DecisionTree Regressor
Accuracy: 93.43%
MAE: 0.79
MSE: 1.77
===================================